input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-color: darkorange;
}

div.container {
  background: linear-gradient(
    270deg,
    rgba(34, 193, 195, 1) 19%,
    rgba(253, 187, 45, 1) 75%
  );
}
